 <form method="post" action="http://192.168.0.120/PostRedirect">
  First name:<br>
  <input type="text" name="token" value="Mickey"><br>
  Last name:<br>
  <input type="text" name="username" value="Mouse"><br><br>
  <input type="submit" value="Submit">
</form> 